 /* .container {
    border: 1px solid black;
    background-color: blue;
}
.container-fluid {
     border: 1px solid blueviolet;
    background-color: blueviolet;
}
.one {
    background-color: brown;
}
.two{
    background-color: chartreuse;
}
.navigation {
    background-color: white;
} 
.navig {
    background-color: yellow;
    border: none;
}
.navig {
    border:none;
    background-color:brown;
}
.container-fluid {
    border:none;
}
.link a {
    padding: 10px;  
}
.menu a :hover {
    background-color: black;
    color: white;
}
.media i {
    margin-left:50px;
    margin-top:15px;
    color:blue; */
/* } */
/* .authority {
    background-color: aquamarine;
} */
/* .authority{
    box-shadow: blue;
    box-shadow: transparent;
    /* background-color: rgb(31, 29, 29); */
/* } */ 
